*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

a,
span,
button {
  display: inline-block;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Roboto", sans-serif;
}

#root {
  position: relative;
}